{% extends 'checkbook_base.html' %}
{% block title %}Balance Sheet{% endblock %}
{% block content %}
			<div id="all-transactions-form">
				<form> 
					<br>
					<!-- Use value to add the Django populated details-->
					<label>Account Holder:</label><input id="accountholder" type="text" name="accountHolder" value="{{accountHolder}}" readonly><br><br>
					<label>Current Balance:</label><input id="balance" type="text" name="currentBalance" value="{{ endBalance|floatformat:2 }}" readonly>
					<!-- Add link to href to make this button work -->
					<button type="button"><a href="{% url 'addTransaction' %}">Add Transaction+</a></button>
				</form>
				<br><br>
			</div>
			<h2>RECENT TRANSACTIONS</h2>
			<table class="table table-responsive" id ="transactions-table">
				<tr id="headerRow">
					<th>Date</th>
					<th>Type</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Balance</th>
				</tr>

				{% for t in transactions %}
				<tr>
					<td class="center">{{t.date}}</td>
					<td class="center">{{ t.type }}</td>
					<td class="left">{{ t.description }}</td>
					<td class="right">{{ t.amount|floatformat:2 }}</td>
					<td class="right">{{t.balance|floatformat:2}}</td>
				</tr>
				{% endfor %}

			</table>

			<br><br>			
{% endblock %}

